<template>
  <div class="wrap">
    <router-view />
  </div>
</template>

<script>
import messages from '@/utils/messages.library'

export default {
  computed: {
    error() {
      return this.$store.getters.error
    },
  },
  watch: {
    error(fbError) {
      this.$error(messages[fbError.code] || 'error')
    },
  },
}
</script>

<style scoped>
.wrap {
  padding: 1rem;
  height: 100vh;
}
.custom {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}
</style>
