<template>
  <div>
    <Loader v-if="loading" style="margin-top: 10rem" />
    <div v-else class="wrap">
      <nav class="blue-grey darken-1">
        <div class="nav-wrapper">
          <span class="date">{{ date | dateFilter }}</span>

          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >

          <ul class="right hide-on-med-and-down">
            <li><router-link to="/">{{ 'Bill' | localeFilter }}</router-link></li>
            <li><router-link to="/categories">{{ 'Categories' | localeFilter }}</router-link></li>
            <li><router-link to="/history">{{ 'History' | localeFilter }}</router-link></li>
            <li><router-link to="/planning">{{ 'Planning' | localeFilter }}</router-link></li>
            <li><router-link to="/record">{{ 'Record' | localeFilter }}</router-link></li>

            <li style="display: flex !important; width: 120px">
              <a
                class="dropdown-trigger activator"
                href="#"
                data-target="dropdown1"
                ref="drop"
                style="
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                "
              >
                {{ name }}
                <i class="medium material-icons" style="margin-left: 1rem"
                  >arrow_drop_down</i
                >
              </a>
            </li>

            <ul id="dropdown1" class="dropdown-content">
              <li><router-link to="/profile">{{ 'ProfileTitle' | localeFilter }}</router-link></li>
              <li><a href="#" @click.prevent="logout">{{ 'Exit' | localeFilter }}</a></li>
            </ul>
          </ul>

          <ul class="sidenav" id="mobile-demo">
            <li><router-link to="/">{{ 'Bill' | localeFilter }}</router-link></li>
            <li><router-link to="/categories">{{ 'Categories' | localeFilter }}</router-link></li>
            <li><router-link to="/history">{{ 'History' | localeFilter }}</router-link></li>
            <li><router-link to="/planning">{{ 'Planning' | localeFilter }}</router-link></li>
            <li><router-link to="/record">{{ 'Record' | localeFilter }}</router-link></li>
          </ul>
        </div>
      </nav>

      <router-view />
      <router-link
        class="btn-floating btn-large blue custom"
        to="/record"
        tag="button"
      >
        <i class="material-icons">add</i>
      </router-link>
    </div>
  </div>
</template>

<script>
import messages from '@/utils/messages.library'

export default {
  name: 'main-layout',
  data: () => ({
    loading: true,
    date: new Date(),
    timer: null,
    m: null,
  }),
  computed: {
    name() {
      return this.$store.getters.info.name
    },
    error() {
      return this.$store.getters.error
    },
  },
  watch: {
    error(fbError) {
      this.$error(messages[fbError.code] || 'error')
    },
  },
  methods: {
    async logout() {
      await this.$store.dispatch('logout')
      await this.$router.push('/login?message=logout')
    },
  },
  async mounted() {
    this.timer = setInterval(() => (this.date = new Date()), 900)
    this.m = M.Dropdown.init(this.$refs.drop, {})

    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch('fetchUserInfo')
    }

    this.loading = false

    setTimeout(() => {
      M.Sidenav.init(document.querySelector('.sidenav'), {})
    })
  },
  updated() {
    if (!this.m) {
      this.m = M.Dropdown.init(this.$refs.drop, {})
    }
  },
  destroyed() {
    clearInterval(this.timer)

    if (this.m && this.m.destroy) {
      this.m.destroy()
    }
  },
}
</script>

<style scoped>
.wrap {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: #eaefea;
}
nav {
  padding: 0 2rem;
}
.custom {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.activator {
  display: inline-block;
}
.date {
  margin-left: 1rem;
}
</style>
