<template>
  <div class="content-wrapper">
    <div class="account-base account-form">
      <p style="margin-bottom: 2rem">{{ 'CurrencyAccount' | localeFilter }}</p>
      <p class="line" v-for="curr of currencies" :key="curr">
        <span>{{ getCurrency(curr) | currencyFilter(curr) }}</span>
      </p>
    </div>
    <div class="account-base account-courses">
      <p>{{ 'Rates' | localeFilter }}</p>
      <table>
        <thead>
          <tr>
            <th>{{ 'Currency' | localeFilter }}</th>
            <th>{{ 'Rate' | localeFilter }}</th>
            <th>{{ 'Date' | localeFilter }}</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="curr of currencies" :key="curr">
            <td>{{ curr }}</td>
            <td>{{ rates[curr].toFixed(2) }}</td>
            <td>{{ date | dateFilter }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: ['rates', 'date'],
  data: () => ({
    currencies: ['RUB', 'USD', 'EUR'],
  }),
  methods: {
    getCurrency(currency) {
      return Math.floor(this.base * this.rates[currency])
    },
  },
  computed: {
    base() {
      return (
        this.$store.getters.info.bill / (this.rates['RUB'] / this.rates['EUR'])
      )
    },
  },
}
</script>

<style scoped>
input {
  color: black !important;
}
label {
  color: black !important;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
}
.account-base {
  font-size: 20px;
  padding: 0.5rem 2rem 4rem 2rem;
  box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.account-form {
  background-color: #e5f0f8;
  width: 35%;
}
.account-courses {
  background-color: #c4ffd3;
  width: 60%;
}
table {
  font-size: 14px;
}
.line {
  border-bottom: 1px solid black;
}
</style>
