<template>
  <div class="wrapper-categories">
    <h4>{{ 'Categories' | localeFilter }}</h4>
    <hr />

    <Loader v-if="loading" />
    <div v-else class="wrapper-content-categories">
      <div class="block">
        <h5>{{ 'Create' | localeFilter }}</h5>
        <form class="col s12" @submit.prevent="createCategory">
          <div class="row">
            <div class="input-field col s12">
              <input
                id="name"
                type="text"
                v-model.trim="create.title"
                :class="{
                  invalid: $v.create.title.$dirty && !$v.create.title.required,
                }"
              />
              <label for="name">{{ 'Name' | localeFilter }}</label>
              <small
                class="helper-text invalid"
                v-if="$v.create.title.$dirty && !$v.create.title.required"
              >
                {{ "Field must not be empty" | localeFilter }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="limit"
                type="number"
                v-model.number="create.limit"
                :class="{
                  invalid:
                    ($v.create.limit.$dirty && !$v.create.limit.required) ||
                    ($v.create.limit.$dirty && !$v.create.limit.minValue),
                }"
              />
              <label for="limit" class="active">{{ 'Limit' | localeFilter }}</label>
              <small
                class="helper-text invalid"
                v-if="$v.create.limit.$dirty && !$v.create.limit.required"
              >
                {{ "Field must not be empty" | localeFilter }}
              </small>
              <small
                class="helper-text invalid"
                v-if="$v.create.limit.$dirty && !$v.create.limit.minValue"
              >
                {{ "The minimum value must not be less" | localeFilter }}
                {{ $v.create.limit.$params.minValue.min }}
              </small>
            </div>
          </div>
          <div>
            <button class="btn">
              {{ 'Create' | localeFilter }}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>

      <div class="block">
        <h5>{{ 'Edit' | localeFilter }}</h5>
        <form
          v-if="categories.length"
          class="col s12"
          @submit.prevent="editCategory"
        >
          <div class="row">
            <CategoryEdit
              :list="categories"
              @select="onChangeHandler"
              :key="updateCount + categories.length"
              :selected="selected"
            />

            <div class="input-field col s12">
              <input
                id="category"
                type="text"
                v-model.trim="edit.title"
                :class="{
                  invalid: $v.edit.title.$dirty && !$v.edit.title.required,
                }"
              />
              <label for="category" :class="{ active: edit.title }"
                >{{ 'ChangeName' | localeFilter }}</label
              >
              <small
                class="helper-text invalid"
                v-if="$v.edit.title.$dirty && !$v.edit.title.required"
              >
                {{ "Field must not be empty" | localeFilter }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="change-limit"
                type="number"
                v-model.number="edit.limit"
                :class="{
                  invalid:
                    ($v.edit.limit.$dirty && !$v.edit.limit.required) ||
                    ($v.edit.limit.$dirty && !$v.edit.limit.minValue),
                }"
              />
              <label for="change-limit" class="active">Limit</label>
              <small
                class="helper-text invalid"
                v-if="$v.edit.limit.$dirty && !$v.edit.limit.required"
              >
                {{ "Field must not be empty" | localeFilter }}
              </small>
              <small
                class="helper-text invalid"
                v-if="$v.edit.limit.$dirty && !$v.edit.limit.minValue"
              >
                {{ "The minimum value must not be less" | localeFilter }}
                {{ $v.edit.limit.$params.minValue.min }}
              </small>
            </div>
          </div>
          <div>
            <button class="btn">
              {{ 'Update' | localeFilter }}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
        <p v-else>У вас нет активных категорий</p>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators'
import CategoryEdit from '@/components/CategoryEdit'

export default {
  name: 'categories',
  metaInfo() {
    return {
      title: this.$title('Categories')
    }
  },
  data: () => ({
    create: {
      title: '',
      limit: 100,
    },
    edit: {
      title: '',
      limit: 100,
    },
    selected: null,
    selectId: null,
    categories: [],
    loading: true,
    updateCount: 1,
  }),
  validations: {
    create: {
      title: { required },
      limit: { required, minValue: minValue(1) },
    },
    edit: {
      title: { required },
      limit: { required, minValue: minValue(1) },
    },
  },
  computed: {
    list() {
      return this.categories
    },
  },
  methods: {
    async createCategory() {
      if (this.$v.create.$invalid) {
        this.$v.create.$touch()
        return
      }

      try {
        const category = await this.$store.dispatch('createCategoryApi', {
          title: this.create.title,
          limit: this.create.limit,
        })

        this.categories.push(category)

        this.create.title = ''
        this.create.limit = 100
        this.$v.create.$reset()
        this.$message('Добавлена новая категория')
      } catch (e) {}
    },
    async editCategory() {
      if (this.$v.edit.$invalid) {
        this.$v.edit.$touch()
        return
      }

      const req = {
        key: this.selected.key,
        title: this.edit.title,
        limit: this.edit.limit,
      }

      try {
        await this.$store.dispatch('editCategoryApi', req)
        this.$v.edit.$reset()
        this.$message('Категория была изменена')
        this.updateCategories(req)
      } catch (e) {}
    },
    onChangeHandler(e) {
      this.selected = this.categories.find((el) => el.key === e.target.value)
      if (this.selected) {
        this.edit.title = this.selected.title
        this.edit.limit = this.selected.limit
      }
    },
    updateCategories(category) {
      this.categories = this.categories.map((el) =>
        el.key === category.key ? { ...el, ...category } : el
      )
      this.updateCount++
    },
  },
  components: { CategoryEdit },
  async mounted() {
    try {
      this.categories = await this.$store.dispatch('fetchCategories')
    } catch (e) {
    } finally {
      this.loading = false
    }
  },
  destroyed() {
    if (this.selectId && this.selectId.destroy) {
      this.selectId.destroy()
    }
  },
}
</script>

<style scoped>
.wrapper-categories {
  width: 1000px;
  margin: 2.4rem auto;
}
.wrapper-content-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  width: 45%;
}
.invalid {
  color: #ff5555;
}
</style>
