<template>
  <div class="input-field col s12">
    <select ref="select" @change="changeSelectHandler">
      <option value="" disabled selected>{{ 'SelectCategory' | localeFilter }}</option>
      <option v-for="c of list" :key="c.key" :value="c.key">
        {{ c.title }}
      </option>
    </select>
    <label>{{ 'Categories' | localeFilter }}</label>
  </div>
</template>

<script>
export default {
  name: 'category-edit',
  props: {
    list: {
      type: Array,
    },
    selected: {
      type: Object,
    },
  },
  methods: {
    changeSelectHandler(event) {
      this.$emit('select', event)
    },
  },
  created() {},
  mounted() {
    M.FormSelect.init(this.$refs.select, {})
  },
}
</script>
