<template>
  <div class="wrapper-details">
    <Loader v-if="loading" />
    <div v-else class="container-app">
      <nav>
        <div class="nav-wrapper white">
          <div class="col s12">
            <router-link to="/history" class="breadcrumb">История</router-link>
            <router-link to="" class="breadcrumb">{{
              record.type
            }}</router-link>
          </div>
        </div>
      </nav>

      <div class="details-container" :class="[record.color]">
        <p>
          <strong>Категория:&nbsp;</strong>
          <span>{{ category.title }}</span>
        </p>
        <p>
          <strong>Сумма:&nbsp;</strong>
          <span>{{ record.amount | currencyFilter }}</span>
        </p>
        <p>
          <strong>Описание:&nbsp;</strong>
          <span>{{ record.description }}</span>
        </p>
        <p>
          <strong>Дата:&nbsp;</strong>
          <span>{{ record.date | dateFilter }}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'detail',
  metaInfo() {
    return {
      title: this.$title('Details')
    }
  },
  data: () => ({
    loading: true,
    record: null,
    category: null,
  }),
  async mounted() {
    const id = this.$route.params.id
    this.record = await this.$store.dispatch('fetchRecordById', id)
    this.category = await this.$store.dispatch(
      'fetchCategoryById',
      this.record.category
    )

    this.record.type = this.record.type === 'income' ? 'Доход' : 'Расход'
    this.record.color =
      this.record.type === 'Доход' ? 'teal lighten-4' : 'red lighten-4'

    this.loading = false
  },
}
</script>

<style scoped>
.wrapper-details {
  width: 1000px;
  margin: 0 auto;
}
.container-app {
  margin-top: 2rem;
}
.details-container {
  border: 1px solid lightcoral;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}
.nav-wrapper {
  padding: 0 2rem;
}
.breadcrumb,
.breadcrumb::before {
  color: black !important;
}
</style>
