<template>
  <div class="wrapper-history">
    <div>
      <h4>{{ 'History' | localeFilter }}</h4>
    </div>
    <hr />

    <div>
      <canvas ref="canvas"></canvas>
    </div>

    <Loader v-if="loading" />
    <p v-else-if="!records.length">
      Записей пока нет. <router-link to="/record">Добавить запись</router-link>
    </p>
    <div v-else class="wrapper-table-history">
      <div class="input-field col s12">
        <input id="last_name" type="text" v-model="filter" />
        <label for="last_name">{{ "Search" | localeFilter }}</label>
      </div>

      <table class="highlight">
        <thead>
          <tr>
            <th>&#8470;</th>
            <th>{{ "Amount" | localeFilter }}</th>
            <th>{{ "Date" | localeFilter }}</th>
            <th>{{ "Category" | localeFilter }}</th>
            <th>{{ "Type" | localeFilter }}</th>
            <th>{{ "Open" | localeFilter }}</th>
          </tr>
        </thead>

        <tbody>
          <tr v-if="!filtered.length">
            <td colspan="6">Записей не найдено</td>
          </tr>
          <tr v-else v-for="(r, idx) of filtered" :key="r.key">
            <td>{{ ++idx }}</td>
            <td>{{ r.amount | currencyFilter }}</td>
            <td>{{ r.date | dateFilter }}</td>
            <td>{{ r.title }}</td>
            <td>{{ r.type === 'outcome' ? 'Расход' : 'Доход' }}</td>
            <td>
              <button
                class="btn btn-small"
                @click="$router.push('/details/' + r.key)"
              >
                <i class="material-icons">archive</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <Paginate
        v-show="filteredList.length > itemsOnPage"
        :page-count="countPage"
        :prev-text="back"
        :next-text="next"
        :container-class="'pagination'"
        :click-handler="callbackPagination"
        :active-class="'teal lighten-4'"
      />
    </div>
  </div>
</template>

<script>
import { Pie } from 'vue-chartjs'
import locale from '@/filters/locale.filter'

export default {
  name: 'history',
  metaInfo() {
    return {
      title: this.$title('History')
    }
  },
  extends: Pie,
  data: () => ({
    filter: '',
    loading: true,
    itemsOnPage: 5,
    page: 1,
    records: [],
    filteredList: [],
  }),
  computed: {
    filtered() {
      return this.filteredList.filter((_, idx) => {
        const start = (this.page - 1) * this.itemsOnPage
        const end = start + this.itemsOnPage

        return idx >= start && idx < end
      })
    },
    countPage() {
      return Math.ceil(this.filteredList.length / this.itemsOnPage)
    },
    back() {
      return locale("Back")
    },
    next() {
      return locale("Next")
    },
  },
  watch: {
    filter() {
      this.page = 1
      this.filteredList = this.records.filter((record) => {
        const type = record.type === 'outcome' ? 'Расход' : 'Доход'
        const amount = record.amount

        return (
          record.title.includes(this.filter) ||
          type.includes(this.filter) ||
          amount.toString().includes(this.filter)
        )
      })
    },
  },
  methods: {
    callbackPagination(currentPageNum) {
      this.page = currentPageNum
    },
  },
  async mounted() {
    const categories = (await this.$store.dispatch('fetchCategories')) || []
    const records = (await this.$store.dispatch('fetchRecords')) || []

    const list = records.map((record) => ({
      ...record,
      title: (categories.find((cat) => cat.key === record.category) || {})
        .title,
    }))

    this.records = list
    this.filteredList = list
    this.loading = false

    this.renderChart(
      {
        labels: categories.map((r) => r.title),
        datasets: [
          {
            label: 'Расходы по категориям',
            data: categories.map((c) => {
              return records.reduce((acc, curr) => {
                if (c.key === curr.category && curr.type === 'outcome') {
                  return (acc += curr.amount)
                } else return acc
              }, 0)
            }),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1,
          },
        ],
      },
      {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      }
    )
  },
}
</script>

<style scoped>
.wrapper-history {
  width: 1000px;
  margin: 2.4rem auto;
}
.wrapper-table-history {
  padding: 10px;
  margin-top: 40px;
}
</style>
