<template>
  <div class="wrap-account">
    <div class="head-wrapper">
      <h4>{{ 'Bill' | localeFilter }}</h4>
      <div>
        <button class="btn btn-small" @click="refreshByClick">
          <i class="large material-icons">autorenew</i>
        </button>
      </div>
    </div>
    <hr />

    <Loader v-if="loading" />
    <Account v-else v-bind:rates="currency.rates" v-bind:date="currency.date" />
  </div>
</template>

<script>
import Account from '@/components/Account'

export default {
  name: 'home',
  metaInfo() {
    return {
      title: this.$title('Bill')
    }
  },
  data: () => ({
    loading: true,
    currency: null,
  }),
  methods: {
    async baseRequest() {
      try {
        this.currency = await this.$store.dispatch('fetchCurrency')
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    async refreshByClick() {
      this.loading = true
      await this.baseRequest()
    },
  },
  async mounted() {
    await this.baseRequest()
  },
  components: { Account },
}
</script>

<style scoped>
.head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-account {
  width: 1280px;
  margin: 1rem auto;
}
</style>
