<template>
  <div class="wrap-login">
    <div class="row">
      <h5>Войти в систему</h5>
      <form class="col s12" @submit.prevent="handleSubmitLogin">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="password"
              type="password"
              v-model.trim="password"
              :class="{
                invalid:
                  ($v.password.$dirty && !$v.password.required) ||
                  ($v.password.$dirty && !$v.password.minLength),
              }"
            />
            <label for="password">Password</label>
            <small
              class="helper-text invalid"
              v-if="$v.password.$dirty && !$v.password.required"
            >
              Поле пароля не должно быть пустым
            </small>
            <small
              class="helper-text invalid"
              v-else-if="$v.password.$dirty && !$v.password.minLength"
            >
              Пароль не должен быть меннее
              {{ $v.password.$params.minLength.min }} символов. Сейчас он
              {{ password.length }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="email"
              v-model.trim="email"
              :class="{
                invalid:
                  ($v.email.$dirty && !$v.email.required) ||
                  ($v.email.$dirty && !$v.email.email),
              }"
            />
            <label for="email">Email</label>
            <small
              class="helper-text invalid"
              v-if="$v.email.$dirty && !$v.email.required"
            >
              Пожалуйста введите свой электронный адрес
            </small>
            <small
              class="helper-text invalid"
              v-if="$v.email.$dirty && !$v.email.email"
            >
              Ваш электронный адрес не верного формата
            </small>
          </div>
        </div>
        <div>
          <button class="btn" type="submit">
            Войти
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <p>
        Нет аккаунта?
        <router-link to="/register">Зарегистрироваться</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { required, minLength, email } from 'vuelidate/lib/validators'
import messages from '@/utils/messages.library'

export default {
  name: 'Login',
  metaInfo() {
    return {
      title: this.$title('Login')
    }
  },
  data: () => ({
    password: '',
    email: '',
  }),
  validations: {
    password: { required, minLength: minLength(8) },
    email: { email, required },
  },
  methods: {
    async handleSubmitLogin() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      try {
        await this.$store.dispatch('login', {
          password: this.password,
          email: this.email,
        })

        await this.$router.push('/')
      } catch (e) {}
    },
  },
  mounted() {
    if (messages[this.$route.query.message]) {
      this.$message(messages[this.$route.query.message])
    }
  },
}
</script>

<style scoped>
.wrap-login {
  padding: 2rem 3rem;
  width: 600px;
  margin: 50px auto;
  border: 1px solid #42b581;
  border-radius: 10px;
}

button {
  width: 200px;
}

.invalid {
  color: #ff3636;
}
</style>
