<template>
  <div class="wrapper-planning">
    <div class="wrapper-title">
      <h4>{{ 'Planning' | localeFilter }}</h4>
      <h4>{{ info.bill | currencyFilter }}</h4>
    </div>
    <hr />

    <Loader v-if="loading" />
    <p v-else-if="!categories.length">
      Категорий пока нет.
      <router-link to="/categories">Добавить категорию</router-link>
    </p>
    <div v-else class="wrapper-content">
      <div v-for="cat of categories" :key="cat.key">
        <strong>{{ cat.title }}: </strong>
        <span>
          {{ cat.spend | currencyFilter }} из
          {{ cat.limit | currencyFilter }}</span
        >
        <div class="progress" v-tooltip="cat.tooltipText">
          <div
            class="determinate"
            :class="[cat.color]"
            :style="{ width: cat.percent + '%' }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import currencyFilter from '@/filters/currency.filter'
import localeFilter from '@/filters/locale.filter'

export default {
  name: 'planning',
  metaInfo() {
    return {
      title: this.$title('Planning')
    }
  },
  data: () => ({
    loading: true,
    categories: [],
  }),
  computed: {
    ...mapGetters(['info']),
  },
  async mounted() {
    const records = (await this.$store.dispatch('fetchRecords')) || []
    const categories = (await this.$store.dispatch('fetchCategories')) || []

    this.categories = categories.map((category) => {
      const spend = records
        .filter(
          (record) =>
            record.category === category.key && record.type === 'outcome'
        )
        .reduce((acc, curr) => (acc += +curr.amount), 0)

      const percent = (spend * 100) / category.limit
      const progressPercent = Math.floor(percent > 100 ? 100 : percent)
      const tooltipValue = category.limit - spend
      const tooltipText = `${
        tooltipValue < 0 ? localeFilter('More') : localeFilter('Balance')
      } ${currencyFilter(Math.abs(tooltipValue))}`

      let color

      switch (true) {
        case progressPercent < 60:
          color = 'green'
          break
        case progressPercent < 100:
          color = 'yellow'
          break
        case progressPercent >= 100:
          color = 'red'
          break
      }

      return {
        ...category,
        spend,
        color,
        percent,
        progressPercent,
        tooltipText,
      }
    })

    this.loading = false
  },
}
</script>

<style scoped>
.wrapper-planning {
  width: 1000px;
  margin: 2.4rem auto;
}
.wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-content {
  margin-top: 2rem;
}
</style>
