<template>
  <div class="wrapper-profile">
    <h4>{{ 'ProfileTitle' | localeFilter }}</h4>
    <hr />

    <div class="row">
      <form class="col s12" @submit.prevent="submitHandler">
        <div class="row">
          <div class="input-field">
            <input
              id="name"
              type="text"
              v-model="name"
              :class="{invalid: ($v.name.$dirty && !$v.name.required)}"
            />
            <label class="active" for="name">{{ "Name" | localeFilter }}</label>
            <small
              class="helper-text invalid"
              v-if="$v.name.$dirty && !$v.name.required"
            >
              {{ "NameWarn" | localeFilter }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="switch">
            <label>
              English
              <input type="checkbox" v-model="isRuLocale">
              <span class="lever"></span>
              Русский
            </label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn">{{ 'Update' | localeFilter }}</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'profile',
  metaInfo() {
    return {
      title: this.$title('ProfileTitle')
    }
  },
  data: () => ({
    name: '',
    isRuLocale: true,
  }),
  validations: {
    name: { required }
  },
  computed: {
    ...mapGetters(['info']),
  },
  methods: {
    ...mapActions(['updateInfo']),
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      try {
        await this.updateInfo({ name: this.name, locale: this.isRuLocale ? 'ru-RU' : 'en-US' })
      } catch (e) {}
    }
  },
  mounted() {
    this.name = this.info.name
    this.isRuLocale = this.info.locale === 'ru-RU'
  }
}
</script>

<style scoped>
.wrapper-profile {
  width: 1000px;
  margin: 0 auto;
}
.invalid {
  color: #ff3636;
}
</style>
