<template>
  <div class="wrapper-record">
    <h4>{{ 'Record' | localeFilter }}</h4>
    <hr />

    <div class="content-record-form">
      <Loader v-if="loading" />
      <p v-else-if="!categories.length">
        Категорий пока нет.
        <router-link to="/categories">{{ "Add category" | localeFilter }}</router-link>
      </p>
      <div v-else>
        <form @submit.prevent="submitHandler">
          <div class="input-field col s12">
            <select ref="s" v-model="category">
              <option v-for="c of categories" :key="c.key" :value="c.key">
                {{ c.title }}
              </option>
            </select>
            <label>{{ "SelectCategory" | localeFilter }}</label>
          </div>
          <div style="margin: 3rem 0">
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  type="radio"
                  value="income"
                  v-model="type"
                />
                <span>{{ "Income" | localeFilter }}</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  type="radio"
                  value="outcome"
                  v-model="type"
                />
                <span>{{ "Outcome" | localeFilter }}</span>
              </label>
            </p>
          </div>
          <div class="input-field col s12">
            <input
              id="record"
              type="number"
              v-model.number="amount"
              :class="{
                invalid:
                  ($v.amount.$dirty && !$v.amount.required) ||
                  ($v.amount.$dirty && !$v.amount.minValue),
              }"
            />
            <label for="record" class="active">{{ "Amount" | localeFilter }}</label>
            <small
              class="helper-text invalid"
              v-if="$v.amount.$dirty && !$v.amount.required"
            >
              {{ "Field must not be empty" | localeFilter }}
            </small>
            <small
              class="helper-text invalid"
              v-if="$v.amount.$dirty && !$v.amount.minValue"
            >
              {{ "The minimum value must not be less" | localeFilter }} {{ $v.amount.$params.minValue.min }}
            </small>
          </div>
          <div class="input-field col s12">
            <input
              id="description"
              type="text"
              v-model.trim="description"
              :class="{
                invalid: $v.description.$dirty && !$v.description.required,
              }"
            />
            <label for="description">{{ "Description" | localeFilter }}</label>
            <small
              class="helper-text invalid"
              v-if="$v.description.$dirty && !$v.description.required"
            >
              {{ "Field must not be empty" | localeFilter }}
            </small>
          </div>
          <div>
            <button class="btn" type="submit">
              {{ "Create" | localeFilter }}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'

export default {
  name: 'record',
  metaInfo() {
    return {
      title: this.$title('Record')
    }
  },
  data: () => ({
    loading: true,
    category: null,
    categories: [],
    selectId: null,
    timerId: null,
    type: 'income',
    amount: 1,
    description: '',
  }),
  validations: {
    amount: { required, minValue: minValue(1) },
    description: { required },
  },
  computed: {
    ...mapGetters(['info']),
    canCreateRecord() {
      if (this.type === 'income') {
        return true
      }

      return this.info.bill >= this.amount
    },
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      if (this.canCreateRecord) {
        const { type, amount, description, category } = this || {}

        await this.$store.dispatch('fetchCreateRecord', {
          type,
          amount,
          description,
          category,
          date: new Date().toJSON(),
        })

        const bill =
          type === 'income' ? this.info.bill + amount : this.info.bill - amount

        await this.$store.dispatch('updateInfo', { bill })
        this.$message('Запись успешна создана')
        this.$v.$reset()
        this.amount = 1
        this.description = ''
      } else {
        this.$message(
          `Недостаточно средств на счете (${this.amount - this.info.bill})`
        )
      }
    },
  },
  async mounted() {
    const categories = await this.$store.dispatch('fetchCategories')
    this.categories = Object.keys(categories).map((key) => ({
      key,
      ...categories[key],
    }))
    if (this.categories.length) {
      this.category = this.categories[0].key
    }
    this.loading = false
    this.timerId = setTimeout(
      () => (this.selectId = M.FormSelect.init(this.$refs.s, {}))
    )
  },
  destroyed() {
    this.timerId = null
    if (this.selectId && this.selectId.destroy) {
      this.selectId.destroy()
    }
  },
}
</script>

<style scoped>
.wrapper-record {
  width: 1000px;
  margin: 2.4rem auto;
}
.content-record-form {
  width: 50%;
}
.invalid {
  color: #ff5555;
}
</style>
