<template>
  <div class="wrap-registry">
    <div class="row">
      <h5>Регистрация</h5>
      <form class="col s12" @submit.prevent="submitHandler">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="password"
              type="password"
              v-model="password"
              :class="{
                invalid:
                  ($v.password.$dirty && !$v.password.required) ||
                  ($v.password.$dirty && !$v.password.minLength),
              }"
            />
            <label for="password">Password</label>
            <small
              class="helper-text invalid"
              v-if="$v.password.$dirty && !$v.password.required"
            >
              Поле пароля не должно быть пустым
            </small>
            <small
              class="helper-text invalid"
              v-else-if="$v.password.$dirty && !$v.password.minLength"
            >
              Пароль не должен быть меннее
              {{ $v.password.$params.minLength.min }} символов. Сейчас он
              {{ password.length }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="email"
              v-model="email"
              :class="{
                invalid:
                  ($v.email.$dirty && !$v.email.required) ||
                  ($v.email.$dirty && !$v.email.email),
              }"
            />
            <label for="email">Email</label>
            <small
              class="helper-text invalid"
              v-if="$v.email.$dirty && !$v.email.required"
            >
              Пожалуйста введите свой электронный адрес
            </small>
            <small
              class="helper-text invalid"
              v-if="$v.email.$dirty && !$v.email.email"
            >
              Ваш электронный адрес не верного формата
            </small>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="name"
              type="text"
              v-model="name"
              :class="{ invalid: $v.name.$dirty && !$v.name.required }"
            />
            <label for="name">Имя</label>
            <small
              class="helper-text invalid"
              v-if="$v.name.$dirty && !$v.name.required"
            >
              Поле Имя не должно быть пустым
            </small>
          </div>
        </div>
        <div>
          <label>
            <input type="checkbox" v-model="agree" />
            <span>Я соглашаюсь с обработкой личных данных</span>
          </label>
        </div>
        <div style="margin-top: 20px">
          <button class="btn" type="submit">
            Регистрация
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <p>Есть аккаунта? <router-link to="/login">Войти</router-link></p>
    </div>
  </div>
</template>

<script>
import { required, minLength, email } from 'vuelidate/lib/validators'

export default {
  name: 'Register',
  metaInfo() {
    return {
      title: this.$title('Register')
    }
  },
  data: () => ({
    email: '',
    password: '',
    name: '',
    agree: false,
  }),
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(8) },
    name: { required },
    agree: { checked: (v) => v },
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      try {
        await this.$store.dispatch('register', {
          email: this.email,
          password: this.password,
          name: this.name,
        })

        await this.$router.push('/categories')
      } catch (e) {}
    },
  },
}
</script>

<style scoped>
.wrap-registry {
  padding: 2rem 3rem;
  width: 600px;
  margin: 50px auto;
  border: 1px solid #42b581;
  border-radius: 10px;
}

button {
  width: 200px;
}

.invalid {
  color: #f54343;
}
</style>
