<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import MainLayout from '@/views/MainLayout'
import FormLayout from '@/views/FormLayout'
import 'materialize-css/dist/js/materialize.min'

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'form') + '-layout'
    },
  },
  components: { MainLayout, FormLayout },
}
</script>

<style>
@import '~materialize-css/dist/css/materialize.min.css';
</style>
